In [12]:
import os, sys
sys.path.append(os.path.abspath(".."))  # allow `from utils...` imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pathlib import Path

In [13]:
pwd

'/Users/ayaanmayooq/Desktop/code/greener_side/notebooks'

In [14]:
sym = 'SPY'

DATA_ROOT = '/Users/ayaanmayooq/Desktop/code/greener_side/data/'

p = DATA_ROOT + f"processed/daily/symbol={sym}/bars.parquet"

df = pd.read_parquet(p)
df = df.sort_index()
df.tail(3)

Price,open,high,low,close,volume,adj_close
Ticker,spy,spy,spy,spy,spy,
Date,,,,,,
2025-08-06,629.049988,633.440002,628.130005,632.780029,64357500,632.780029
2025-08-07,636.239990,636.979980,629.109985,632.250000,74205800,632.250000
2025-08-08,634.059998,637.650024,633.739990,637.179993,63902600,637.179993

In [15]:
df.shape

(5183, 6)

In [16]:
df.index.min()

Timestamp('2005-01-03 00:00:00')